@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul.nav {
    display: flex;
    width: 100%;
    height: 100%;
    list-style-type: none;
}

li {
    text-align: center;
    flex-grow: 1;
}

a {
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    display: block;
}

li:hover {
    background-color: rgb(255, 255, 255);
    transform: scaleX(1.1);
    transition-duration: 0.5s;
}

section {
    height: 100dvh;
    background-color: rgb(230, 229, 229);
    padding-top: 150px;
}

/* --home-- */
section#home {
    background-image: url("./sergey3-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section#home:hover {
    background-image: url("./sergey3.jpg");
}

.header {
    display: inline-block;
    margin: 30px 0;
    padding: 10px;
    border-radius: 0 3px 3px 0;
    background-color: rgba(255, 255, 255, 0.39);
}

#home h5 {
    font-style: italic;
    font-weight: normal;
}

/* --bio-- */
section#bio {
    min-height: 150vh;
    background-image: url("./sergey-sleeps.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

article.biography {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

article.biography p {
    margin: 15px;
    padding: 15px;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 3px;
}

article.biography video {
    margin: 15px;
}

/* --achievements-- */
section#achievements {
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 160px;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid silver;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.card>img,
.card>span {
    display: flex;
    width: 140px;
    height: 140px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card>img:first-child:hover {
    transform: scale(3);
    transition-duration: 1s;
    translate: 100px;
}

/* --more_info-- */
#more_info {
    background-image: url(./sergey-sleeps2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
}

#more_info div {
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 3px;
    display: flex;
}

#more_info div * {
    display: flex;
    margin: 25px;
    text-align: center;
    align-items: center;
}

/* --footer-- */
footer {
    text-align: center;
    padding: 10px;
}


@media screen and (max-width:650px) {
    nav {
        height: 160px;
        background-color: unset;
        justify-content: right;
    }

    ul.nav {
        flex-direction: column;
        width: 30%;
    }

    section {
        padding-top: 160px;
    }

    article.biography {
        flex-direction: column;
        font-size: 0.6em;
    }

    section#achievements {
        justify-content: end;
    }

    section#achievements img:nth-child(2){
        display: none;
    }

    .card {
        height: 150px;
        margin: 5px 0;
    }

    .card>img,
    .card>span {
        width: 120px;
        height: 120px;
    }

    #more_info {
        padding-top: 190px;
    }

    #more_info div {

        flex-direction: column;
        justify-content: center;
    }
}