body {
    background-color: rgb(175, 137, 122);
    text-align: center;
}

#wrap {
    max-width: 600px;
    margin: 0 auto;
    background-color: antiquewhite;
    border: dotted 5px;
    border-style: dotted;
}

h1 {
    margin-top: 0;
    border-bottom: dotted 5px;
    font-style: italic;
    font-weight: bold;
}

p:not(.copyright) {
    text-align: left;
}

ul li {
    font-style: italic;
    list-style-type: none;
}

li::first-letter {
    font-size: large;
    font-weight: bold;
}