* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslateblue;
}

#wrap {
    width: 700px;
    margin: 0 auto;
}

.float_father {
    height: 400px;
}

#nav {
    background-color: rgb(223, 209, 255);
    width: 27%;
    padding: 20px;
    float: left;
    height: 100%;
}

nav>ul li a {
    color: blue;
}

#content {
    padding: 20px 5px 5px 5px;
    text-align: center;
    background-color: cornflowerblue;
    float: right;
    width: 73%;
    height: 100%;
}

#content>ul {
    list-style-type: none;
}

#content>h1 {
    font-size: 1.7em;
}

footer {
    display: block;
    padding: 10px;
    clear: both;
}

.copyright {
    text-align: right;
}